@import "tailwindcss";

table {
  border-collapse: collapse;
  width: 100%;
}

th, td {
  padding: 10px;
  border-bottom: 1px solid #CD5C5C;
  text-align: center;
}

.card {
  border-radius: 8px;
  border: 1px solid black;
  cursor: pointer;
}